# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nosetests/
.pytest_cache/
vts/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# virtualenv
.venv/
venv/
ENV/
env/

# macOS system files
.DS_Store

# Temporary corpus files
projects/tokenizers/*_corpus.txt
projects/tokenizers/temp_corpus_*.txt
*.pt
olaverse/models/*.pt
olaverse/models/*.json
projects/**/*.json
projects/**/*.bin
projects/**/*.safetensors
